EVENT_HANDLER_API=${event_handler_api}
KSQLDB_QUERY_API=${ksqldb_query_api}
SCOREBOARD_API=${scoreboard_api}
TEST_USERS_COUNT=500
TEST_RAMPUP_PERIOD=1
TEST_STARTUP_DELAY=5
TEST_DURATION=10
TEST_USERNAME_FORMAT=TEST_000
TEST_USERNAME_MIN=1
TEST_USERNAME_MAX=100
